%h1= t(".my_profile")

%table.balances
  %tr
    %th= t(".confirmed_balance")
    %td.confirmed= "#{"%.6f" % @user.balance} BTC"
  %tr
    %th= t(".unconfirmed_balance")
    %td.unconfirmed= "#{"%.6f" % @user.balance(false)} BTC"


%h2= t(".latest_blocks")
= render :partial => 'blocks/list', :locals => { :blocks => @blocks }

%h2= t(".payments")
= render :partial => 'payments/list', :locals => { :payments => @user.payments }

%h2= t("activerecord.models.worker.other")
= render :partial => 'workers/list', :locals => { :workers => @user.workers }