%table.default
  %tr
    %th= t("activerecord.attributes.block.found_at")
    %th= t("activerecord.attributes.block.checksum")
    %th= t("activerecord.attributes.block.generated")
    - if current_user
      %th= t("activerecord.attributes.block.my_share")
    %th= t("activerecord.attributes.block.confirmations")

  - unless blocks.blank?
    - blocks.each do |block|
      %tr{ :class => [cycle('even', 'odd'), orphan_class_for(block)] }
        %td= time_ago_in_words(block.found_at)
        %td= hash_string_for_block(block.checksum)
        %td.fixed= "%2.4f" % block.generated
        - if current_user
          %td.fixed= "%2.4f" % block.my_share(current_user)
        %td= confirmation_string_for(block, t(".confirmed"))

  - else
    = render :partial => 'layouts/no_data', :locals => { :message => t('.no_blocks') }
