!!! XML
!!! 

%html
  %head
    %title= t(:title)

    = stylesheet_link_tag %w{ reset application bitcoin-pool }, :cache => "all"
    = javascript_include_tag :defaults, :cache => "all"
    = active_scaffold_includes
    = csrf_meta_tag

    = yield :head

  %body{ :class => [request[:controller], "#{request[:controller]}-#{request[:action]}"] }
    #content
      %h1#main-title= link_to(content_tag(:span, t(:title)), user_signed_in? ? user_root_path : root_path)

      = render :partial => 'layouts/statistics'

      = render :partial => 'layouts/user_informations'

      - if current_user.admin?
        = render :partial => 'admin/application/menu'

      = render :partial => 'layouts/flash', :object => flash

      #right-content
        = yield
        
    #footer= t(".footer")
      


 